@font-face {
    font-family: "VazirMedium";
    src: url(../assets/webfonts/Vazirmatn-Medium.woff2);
}
@font-face {
    font-family: "VazirBold";
    src: url(../assets/webfonts/Vazirmatn-Black.woff2);
}
@font-face {
    font-family: "Vazirlight";
    src: url(../assets/webfonts/Vazirmatn-Light.woff2);
}